<div class="main">
  <div class="tree">
    <div class="header">
      <div class="title">
        <div>
          <h1><strong>{{name}}</strong></h1>
          <div class="profiles">
            <p>
              <a href="https://linkedin.com/in/julianourias" target="_blank">
                <button mat-button class="contact-button">
                  <img src="../assets/linkedin.svg" class="contact-icon">
                  LinkedIn
                </button>
              </a>
            </p>
            <p>
              <a href="https://github.com/julianourias" target="_blank">
                <button mat-button class="contact-button">
                  <img src="../assets/github.svg" class="contact-icon">
                  GitHub
                </button>
              </a>
            </p>
            <p>
              <a href="assets/resume_juliano_urias.pdf" download>
                <button mat-button class="contact-button">
                  <img src="../assets/download.svg" class="contact-icon">
                  Currículo
                </button>
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>

    <section>
      <h3>Contatos</h3>
      <div class="contact">
        <p><strong>Telefone:</strong> +55 43 98488-1180</p>
        <p><strong>Email:</strong> dev.urias@gmail.com</p>
        <p><strong>Endereço:</strong> Jardim Alegre, Paraná, Brasil</p>
      </div>
    </section>

    <section>
      <h3>Resumo</h3>
      <p>
        Desenvolvedor Full-stack, com experiência em Javascript (Angular, Node.js, React Native, Vue.js),
        Python (Flask, FastAPI, AirFlow, Pandas, LangChain), Java (Spring), SQL, testes unitários (PyTest, Jest,
        Vue Test, JUnit, Cucumber, Mockito, utPLSQL), GIT, metodologias ágeis, CI/CD, e outras linguagens como Pascal e C.
      </p>
      <p>
        Desde o ínicio do ensino médio técnico (2017) tive oportunidade de atuar em projetos extracurriculares que me introduziram
        à programação, e desde de então comecei a aprender mais sobre o assunto de forma autodidata, até que no inicío de
        2020 tive minha primeira oportunidade de emprego como analista de sistemas, e desde então continuo trabalhando e
        estudando na área.
      </p>
      <p>
        Essas experiências em projetos e no mercado de trabalho me ensinaram muito sobre trabalho em equipe, liderança, e
        como lidar com situações de urgência (em correções e entregas). Gosto muito de aprender novas tecnologias, sempre
        busco me manter atualizado sobre as novidades do mundo de desenvolvimento de software e suas boas práticas.
      </p>
    </section>

    <section>
      <h3>Educação</h3>
      <ul>
        <li><strong>Tecnologia Em Análise e Desenvolvimento de Sistemas</strong> - Faculdades Integradas do Vale do Ivaí (UNIVALE) (2021 - 2024)</li>
        <li><strong>Técnico em Eletrotécnica - Integrado ao Ensino Médio</strong> - Instituto Federal do Paraná (2017 - 2021)</li>
      </ul>
    </section>

    <section>
      <h3>Experiência Profissional</h3>
      <div *ngFor="let job of jobs" class="job">
        <h4>{{job.title}}</h4>
        <p><strong>{{job.company}}, </strong>{{job.location}} ({{job.end_date}} - {{job.start_date}})</p>
        <p>{{job.description}}</p>
        <p><strong>Habilidades Técnicas:</strong> {{job.skills}}</p>
      </div>
    </section>

    <section>
      <h3>Projetos Acadêmicos</h3>
      <div class="project">
        <h4>Projeto de Extensão - Agro Serviços</h4>
        <p><strong>Univale Ivaiporã - Faculdades Integradas do Vale do Ivaí</strong>, Paraná, Brasil (Abr. 2024 - Jul. 2023)</p>
        <p>Desenvolvi este projeto de extensão, que envolveu a criação de um aplicativo móvel usando Flutter e backend em Python.</p>
        <p><strong>Habilidades Técnicas:</strong> Flutter, Python (Flask), Google Cloud Platform (GCP), NGINX, Firebase, Bootstrap, GitHub Pages</p>
      </div>
      <div class="project">
        <h4>Projeto de Extensão - Pocket Physics</h4>
        <p><strong>Instituto Federal do Paraná - IFPR</strong>, Paraná, Brasil (Mar. 2021 - Jul. 2020)</p>
        <p>Projeto de extensão com bolsa, no qual contribuí para o desenvolvimento de uma API com Node.js, um aplicativo em React Native.</p>
        <p><strong>Habilidades Técnicas:</strong> React Native, Node.js, Arduino IDE, GIT, GitHub</p>
      </div>
      <div class="project">
        <h4>Olimpíada de Robótica</h4>
        <p><strong>Instituto Federal do Paraná - IFPR</strong>, Paraná, Brasil (2019 e 2017)</p>
        <p>Em 2017 e 2019 participei com minha equipe na Olimpíada de Robótica do IFPR. O objetivo desta Olimpíada era criar protótipos de hardware e software para Arduino.</p>
        <p><strong>Habilidades Técnicas:</strong> Arduino, Linguagem C</p>
      </div>
    </section>
  </div>
</div>
