<div class="main">
  <div class="tree">
    <div class="header">
      <div class="title">
        <div>
          <h1><strong>{{name}}</strong></h1>
          <div class="profiles">
            <p>
              <a href="https://linkedin.com/in/julianourias" target="_blank">
                <button mat-button class="contact-button">
                  <img src="../assets/linkedin.svg" class="contact-icon">
                  LinkedIn
                </button>
              </a>
            </p>
            <p>
              <a href="https://github.com/julianourias" target="_blank">
                <button mat-button class="contact-button">
                  <img src="../assets/github.svg" class="contact-icon">
                  GitHub
                </button>
              </a>
            </p>
            <p>
              <a href="assets/resume_juliano_urias.pdf" download>
                <button mat-button class="contact-button">
                  <img src="../assets/download.svg" class="contact-icon">
                  Currículo
                </button>
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>

    <section>
      <h3>Contatos</h3>
      <div class="contact">
        <p><strong>Telefone:</strong> +55 43 98488-1180</p>
        <p><strong>Email:</strong> dev.urias@gmail.com</p>
        <p><strong>Endereço:</strong> Jardim Alegre, Paraná, Brasil</p>
      </div>
    </section>

    <section>
      <h3>Resumo</h3>
      <div [innerHTML]="description"></div>
    </section>

    <section>
      <h3>Educação</h3>
      <ul *ngFor="let education of educations">
        <li><strong>{{education.title}}</strong> - {{education.institution}} ({{education.start_date}} - {{education.end_date}})</li>
      </ul>
    </section>

    <section>
      <h3>Experiência Profissional</h3>
      <div *ngFor="let job of jobs" class="job">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{job.title}} - {{job.company}}</mat-card-title>
            <mat-card-subtitle><strong></strong>{{job.location}} ({{job.end_date}} - {{job.start_date}})</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{job.description}}</p>
          </mat-card-content>
          <mat-card-footer class="example-card-footer">
            <mat-chip-list aria-label="Chihuahua traits">
              <mat-chip *ngFor="let skill of job.skills" class="skill">{{skill}}</mat-chip>
            </mat-chip-list>
          </mat-card-footer>
        </mat-card>
      </div>
    </section>

    <section>
      <h3>Projetos Acadêmicos</h3>
      <div *ngFor="let project of projects" class="project">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle><strong></strong>{{project.company}} ({{project.end_date}} - {{project.start_date}})</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{project.description}}</p>
          </mat-card-content>
          <mat-card-footer class="example-card-footer">
            <mat-chip-list aria-label="Chihuahua traits">
              <mat-chip *ngFor="let skill of project.skills" class="skill">{{skill}}</mat-chip>
            </mat-chip-list>
          </mat-card-footer>
        </mat-card>
      </div>
    </section>
  </div>
</div>
